:root {
  --border: 1px solid black;
}

.action {
  border-bottom: var(--border);
}

.counter {
  font-size: large;
}

#counters {
  flex: 1;
  min-width: 150px;
}

#counters>div {
  padding-top: 5px;
  padding-bottom: 5px;
}

#counters>div>div {
  padding-bottom: 5px;
}

#blessing {
  border: var(--border);
}

#advantages {
  flex: 1;
  min-width: 200px;
}

#advantages-wrapper {
  margin: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#advantages-wrapper>div {
  display: flex;
  column-gap: 4px;
}

.advantage {
  text-align: right;
  min-width: 95px;
}

#enemies {
  flex: 4;
  display: flex;
  gap: 16px;
}

#enemies>div {
  flex: 1;
  min-width: 220px;
  margin: 0px auto;
  border: var(--border);
}

.enemy-level {
  display: block;
  font-size: x-large;
  text-align: center;
}

.enemy-name {
  display: block;
  font-size: larger;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 8px;
}

#enemy-traits {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}

.enemy-trait {
  text-transform: uppercase;
  margin: 0 8px;
}

#enemy-battle-effects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 4px;
  border: var(--border);
}

#enemy-battle-effects>* {
  flex: 1 1 47%;
  padding: 4px;
}

.enemy-event {
  display: block;
  margin: 8px 8px 0 8px;
}

.name {
  text-transform: uppercase;
  font-weight: bold;
}

.after {
  grid-column-start: 3;
  grid-row-start: 2;
  grid-row-end: 5;
  writing-mode: vertical-rl;
  display: flex;
  align-items: end;
  justify-content: center;
  font-weight: bold;
  padding-left: 5px;
  border-left: var(--border);
}

.after>img {
  rotate: 90deg;
}

.choose-one {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 5;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  display: flex;
  align-items: end;
  justify-content: center;
  font-weight: bold;
  border-left: var(--border);
  padding-left: 5px;
}

.hidden {
  visibility: hidden;
  display: none !important;
}

.inactive {
  opacity: 0.2;
}

#header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 8px;
}

#setup {
  padding: 4px;
  margin: 8px;
  border: var(--border);
}

#setup-container {
  display: flex;
  gap: 16px;
}

#setup-container>* {
  flex: 1;
}

#actions {
  grid-column: 1 / span 3;
  grid-row: 1;
  padding: 8px;
}

#actions-display {
  display: flex;
  column-gap: 8px;
}

#actions>h2 {
  grid-column: 1 / span 3;
  grid-row: 1;
}

#start-of-turn {
  flex: 1;

  & h3 {
    text-align: center;
  }
}

#middle-of-turn {
  flex: 6;
  display: grid;
  grid-template-columns: 24% 38% 38%;
  padding: 4px;
  border: var(--border);

  & h3 {
    grid-column: 1 / span 3;
    grid-row: 1;
    text-align: center;
  }
}

#move {
  grid-column: 1;
  grid-row: 2;
}

#heroic-action {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: 10% auto 10%;

  & h4 {
    grid-column: 1 / span 3;
    grid-row: 1;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 8px;
  }
}

#heroic-action>dl {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 5;
  margin: 0;
}

#reinforce {
  grid-column: 3;
  grid-row: 2;
  display: grid;
  grid-template-columns: 10% auto;

  & h4 {
    grid-column: 1 / span 2;
    grid-row: 1;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 8px;
  }
}

#reinforce>dl {
  grid-column: 2;
  grid-row-start: 2;
  grid-row-end: 5;
  margin: 0;
}

#end-of-turn {
  flex: 1;

  & h3 {
    text-align: center;
  }
}

#virtues {
  margin: 24px 0px;
}

#virtues-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#virtues-container>* {
  flex: 1 1 240px;
}

.virtue {
  width: 16%;
  height: 125px;
  text-align: center;
  border: var(--border);
  margin: 4px;
}

.virtue .name {
  padding-bottom: 10px;
}

.virtue button {
  float: left;
  margin-left: 3px;
  margin-top: 3px;
  z-index: 1;
  position: relative;
}

#guilds,
#monuments {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  gap: 24px;
}

.region-1 {
  grid-column: 2 / span 2;
  grid-row: 3;
}

.region-2 {
  grid-column: 1 / span 2;
  grid-row: 2;
}

.region-3 {
  grid-column: 2 / span 2;
  grid-row: 1;
}

.region-4 {
  grid-column: 3 / span 2;
  grid-row: 2;
}

#guilds>section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 12px;
}

#guilds>section>div {
  background-color: white;
}

#guilds>section>div.selected {
  background-color: tan;
}

.guild-name {
  border-top: var(--border);
  border-bottom: var(--border);
  font-weight: bold;
  flex: 0 0 100%;
  text-align: center;
}

.guild-rank {
  flex: 1;
}

.monument-name {
  border-top: var(--border);
  border-bottom: var(--border);
  font-weight: bold;
  flex: 0 0 100%;
  text-align: center;
}

.monument-offering::before {
  content: 'Offering:';
  font-weight: bold;
  padding-right: 2px;
}

.monument-offering {
  border-bottom: var(--border);
  padding: 4px 0;
}

.monument-reinforcement {
  padding: 4px 0;
}

#cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 8px;
}

.card-list>dt {
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: var(--border);
}

.card-list>dd {
  margin-left: 0;
  padding-left: 24px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: var(--border);
}

.card-list>dd>div:nth-child(even) {
  background-color: lightgray;
}

.card-list,
button {
  margin-right: 5px;
}

#treasure-cards {
  flex: 3;
  min-width: 500px;
}

#gear-cards {
  flex: 2;
  min-width: 325px;
}

#companion-cards {
  flex: 3;
  min-width: 500px;
}

#spell-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 6px;
  align-content: flex-start;
  max-height: 150px;
}

#spell-list>dt {
  max-width: 200px;
}

#spell-list>dd {
  max-width: 200px;
  min-height: 100px;
}

.companion-title {
  font-style: italic;
  font-weight: normal;
  padding-left: 2px;
}

.companion-usage {
  font-style: italic;
  font-size: smaller;
  padding-left: 2px;
}

#potion-cards {
  flex: 2;
  min-width: 380px;
}

.count {
  margin-left: 2px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 50px;
  top: 50px;
  width: 50%;
  height: 50%;
  overflow: auto;
  background-color: white;
  border: 4px solid black;
  padding: 16px;
  text-align: center;
  align-content: center;
}

#alliance-companion-guild {
  text-transform: capitalize;
}

#alliance-companion-selector {
  margin: 8px 0px;
}

.highlight {
  border: 3px solid lightgreen !important;
}

.highlight-enemy {
  border: 3px solid red;
}

dl {
  display: grid;
  grid-template-columns: max-content auto;
}

dt {
  grid-column-start: 1;
}

dt.action {
  padding-left: 15px;
}

dd {
  grid-column-start: 2;
  margin-left: 10px;
}

dd.action {
  margin-left: 0;
  padding-left: 20px;
}

h3,
h4 {
  clear: both;
}

summary {
  padding-bottom: 8px;
}

.strong {
  font-weight: bold;
}
