.action {
  border-bottom: 1px solid black;
}

.counter {
  font-size: large;
}

#counters > div {
  padding-top: 5px;
  padding-bottom: 5px;
}

#counters > div > div {
  padding-bottom: 5px;
}

#enemies {
  display: flex;
}

#enemies > div {
  display: inline-block;
  width: 22%;
  margin: 0px auto;
  border: 1px solid black;
}

.enemy-level {
  display: block;
  font-size: x-large;
  text-align: center;
}

.enemy-name {
  display: block;
  font-size: larger;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 8px;
}

#enemy-traits {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}

.enemy-trait {
  text-transform: uppercase;
  margin: 0 8px;
}

#enemy-battle-effects {
  display: flex;
  justify-content: space-between;
  margin: 0 4px;
  border: 1px solid black;
}

.enemy-event {
  display: block;
  margin: 8px 8px 0 8px;
}

.name {
  text-transform: uppercase;
  font-weight: bold;
}

.after {
  grid-column-start: 3;
  grid-row-start: 2;
  grid-row-end: 5;
  writing-mode: vertical-rl;
  display: flex;
  align-items: end;
  justify-content: center;
  font-weight: bold;
  padding-left: 5px;
  border-left: 1px solid black;
}

.after > img {
  rotate: 90deg;
}

.choose-one {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 5;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  display: flex;
  align-items: end;
  justify-content: center;
  font-weight: bold;
  border-left: 1px solid black;
  padding-left: 5px;
}

.hidden {
  visibility: hidden;
  display: none !important;
}

.inactive > div {
  opacity: 0.2;
}

#header {
  display: grid;
  grid-template-columns: 15% auto;
  gap: 15px;
  clear: both;
}

#setup {
  display: inline-block;
  padding: 4px;
  margin: 8px;
  border: 1px solid black;
}

#base-setup {
  float: left;
}

#enemy-selectors {
  float: left;
  margin-left: 16px;
}

#alliances-guild-setup {
  float: right;
  margin-left: 16px;
}

#actions {
  grid-column: 1 / span 3;
  grid-row: 1;
}

#actions-display {
  display: grid;
  grid-template-columns: 15% auto 15%;
  column-gap: 8px;
}

#actions > h2 {
  grid-column: 1 / span 3;
  grid-row: 1;
}

#start-of-turn {
  grid-column: 1;
  grid-row: 2;

  & h3 {
    text-align: center;
  }
}

#middle-of-turn {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: 24% 38% 38%;
  padding: 4px;
  border: 1px solid black;

  & h3 {
    grid-column:  1 / span 3;
    grid-row: 1;
    text-align: center;
  }
}

#move {
  grid-column: 1;
  grid-row: 2;
}

#heroic-action {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: 10% auto 10%;

  & h4 {
    grid-column: 1 / span 3;
    grid-row: 1;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 8px;
  }
}

#heroic-action > dl {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 5;
  margin: 0;
}

#reinforce {
  grid-column: 3;
  grid-row: 2;
  display: grid;
  grid-template-columns: 10% auto;

  & h4 {
    grid-column: 1 / span 2;
    grid-row: 1;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 8px;
  }
}

#reinforce > dl {
  grid-column: 2;
  grid-row-start: 2;
  grid-row-end: 5;
  margin: 0;
}

#end-of-turn {
  grid-column: 3;
  grid-row: 2;

  & h3 {
    text-align: center;
  }
}

#virtues {
  margin: 24px 0px;
}

.virtue {
  display: inline-block;
  width: 16%;
  height: 125px;
  text-align: center;
  vertical-align: top;
  border: 1px solid black;
}

.virtue .name {
  padding-bottom: 10px;
}

.virtue button {
  float: left;
  margin-left: 3px;
  margin-top: 3px;
  z-index: 1;
  position: relative;
}

#guilds {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  gap: 24px;
}

.region-1 {
  grid-column: 2 / span 2;
  grid-row: 3;
}

.region-2 {
  grid-column: 1 / span 2;
  grid-row: 2;
}

.region-3 {
  grid-column: 2 / span 2;
  grid-row: 1;
}

.region-4 {
  grid-column: 3 / span 2;
  grid-row: 2;
}

#guilds > div {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  grid-auto-rows: 3em;
  align-items: center;
  gap: 12px;
}

#guilds > div > div {
  background-color: white;
}

#guilds > div > div.selected {
  background-color: tan;
}

.guild-name {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-weight: bold;
  grid-column: 1 / span 4;
  text-align: center;
}

#cards {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  column-gap: 8px;
}

.card-list > dt {
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.card-list > dd {
  margin-left: 0;
  padding-left: 24px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.card-list > dd > div:nth-child(even) {
  background-color: lightgray;
}

.card-list, button {
  margin-right: 5px;
}

#gear-cards {
  grid-column: 1;
  grid-row: 1;
}

#companion-cards {
  grid-column: 2;
  grid-row: 1;
}

.companion-title {
  font-style: italic;
  font-weight: normal;
  padding-left: 2px;
}

.companion-usage {
  font-style: italic;
  font-size: smaller;
}

#potion-cards {
  grid-column: 3;
  grid-row: 1
}

.count {
  margin-left: 2px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 50px;
  top: 50px;
  width: 50%;
  height: 50%;
  overflow: auto;
  background-color: white;
  border: 4px solid black;
  padding: 16px;
  text-align: center;
  align-content: center;
}

#alliance-companion-guild {
  text-transform: capitalize;
}

#alliance-companion-selector {
  margin: 8px 0px;
}

body {
  width: 75%;
}

dl {
  display: grid;
  grid-template-columns: max-content auto;
}

dt {
  grid-column-start: 1;
}

dt.action {
  padding-left: 15px;
}

dd {
  grid-column-start: 2;
  margin-left: 10px;
}

dd.action {
  margin-left: 0;
  padding-left: 40px;
}

h3, h4 {
  clear: both;
}

summary {
  padding-bottom: 8px;
}