.action {
  border-bottom: 1px solid black;
}

.after {
  writing-mode: vertical-rl;
  float: right;
  font-weight: bold;
  padding-left: 15px;
  border-left: 1px solid black;
}

#heroic-action > .choose-one {
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  float: left;
  font-weight: bold;
  padding: 15px 15px 15px 15px;
  border-left: 1px solid black;
}

#reinforce > .choose-one {
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  float: left;
  font-weight: bold;
  padding: 30px 15px 30px 15px;
  border-left: 1px solid black;
}

.column {
  flex: 50%;
  padding-right: 10px;
  padding-left: 10px;
}

.counter {
  font-size: large;
}

#counters > div {
  padding-top: 5px;
  padding-bottom: 5px;
}

#counters > div > div {
  padding-bottom: 5px;
}

.name {
  text-transform: uppercase;
}

.hidden {
  visibility: hidden;
}

.inactive {
  opacity: 0.2;
}

.row {
  display: flex;
}

body {
  width: 50%;
}

dl {
  display: grid;
  grid-template-columns: max-content auto;
}

dt {
  grid-column-start: 1;
}

dt.action {
  padding-left: 15px;
}

dd {
  grid-column-start: 2;
}

dd.action {
  margin-left: 0px;
  padding-left: 40px;
}

h4 {
  clear: both;
}
