.action {
  border-bottom: 1px solid black;
}

#actions {
  grid-column: 1;
  grid-row: 2 / span 2;
}

#alliances-guild-setup {
  float: right;
}

#reinforce {
  display: grid;
  grid-template-columns: 10% auto;
}

#reinforce > h4 {
  grid-column: 1 / span 2;
  grid-row: 1;
}

#reinforce > .choose-one {
  grid-column: 1;
  grid-row: 2 / span 5;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  display: flex;
  align-items: end;
  justify-content: center;
  font-weight: bold;
  padding: 60px 15px 60px 15px;
  border-left: 1px solid black;
}

#reinforce > dl {
  grid-column: 2;
  grid-row: 2;
}

.counter {
  font-size: large;
}

#counters {
  grid-column: 2;
  grid-row: 1;
}

#counters > div {
  padding-top: 5px;
  padding-bottom: 5px;
}

#counters > div > div {
  padding-bottom: 5px;
}

.name {
  text-transform: uppercase;
  font-weight: bold;
}

#heroic-action {
  display: grid;
  grid-template-columns: 10% auto 10%;
}

#heroic-action > h4 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
}

#heroic-action > .choose-one {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 5;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  display: flex;
  align-items: end;
  justify-content: center;
  font-weight: bold;
  border-left: 1px solid black;
  padding-left: 15px;
}

#heroic-action > dl {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 5;
}

.after {
  grid-column-start: 3;
  grid-row-start: 2;
  grid-row-end: 5;
  writing-mode: vertical-rl;
  display: flex;
  align-items: end;
  justify-content: center;
  font-weight: bold;
  padding-left: 15px;
  border-left: 1px solid black;
}

.after > img {
  rotate: 90deg;
}

.hidden {
  visibility: hidden;
}

.inactive > div {
  opacity: 0.2;
}

#setup {
  grid-column: 1;
  grid-row: 1;
}

#virtues {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 24px;
}

#virtues > .header {
  grid-column: 1 / span 2;
}

.virtue {
  text-align: center;
  border: 1px solid black;
}

.virtue .name {
  padding-bottom: 10px;
}

.virtue button {
  float: left;
  margin-left: 3px;
  margin-top: 3px;
  z-index: 1;
  position: relative;
}

#guilds {
  grid-column: 2;
  grid-row: 3;
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  gap: 24px;
  font-size: small;
}

.region-1 {
  grid-column: 2 / span 2;
  grid-row: 3;
}

.region-2 {
  grid-column: 1 / span 2;
  grid-row: 2;
}

.region-3 {
  grid-column: 2 / span 2;
  grid-row: 1;
}

.region-4 {
  grid-column: 3 / span 2;
  grid-row: 2;
}

#guilds > div {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  grid-auto-rows: 3em;
  align-items: center;
  gap: 12px;
}

#guilds > div > div {
  background-color: white;
}

#guilds > div > div.selected {
  background-color: tan;
}

.guild-name {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-weight: bold;
  grid-column: 1 / span 4;
  text-align: center;
}

#cards {
  grid-column: 1 / span 2;
  grid-row: 4;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  column-gap: 8px;
}

.card-list > dt {
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.card-list > dd {
  margin-left: 0;
  padding-left: 24px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.card-list, button {
  margin-right: 5px;
}

#gear-cards {
  grid-column: 1;
  grid-row: 1;
}

#companion-cards {
  grid-column: 2;
  grid-row: 1;
}

.companion-title {
  font-style: italic;
  font-weight: normal;
  padding-left: 2px;
}

.companion-usage {
  font-style: italic;
  font-size: smaller;
}

#potion-cards {
  grid-column: 3;
  grid-row: 1
}

.count {
  margin-left: 2px;
}

body {
  width: 75%;
  display: grid;
  grid-template-columns: 33% 65%;
  gap: 25px;
}

dl {
  display: grid;
  grid-template-columns: max-content auto;
}

dt {
  grid-column-start: 1;
}

dt.action {
  padding-left: 15px;
}

dd {
  grid-column-start: 2;
}

dd.action {
  margin-left: 0;
  padding-left: 40px;
}

h3, h4 {
  clear: both;
}
